<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <script src="/static/js/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <title>我的首页</title>
</head>

<body>
    <p>
        欢迎光临我的首页
    </p>
    <p>
        <p> 单向绑定的两种方式</p>
        <div id="vm">
            <!-- 绑定在html 上 -->
            <!-- <p> hello,{{name}}</p> -->
            <!-- 绑定在html节点上 -->
            <p>Hello, <span v-text="name"></span>!</p>
            <p>You are {{age}}</p>
        </div>
    </p>
    <p>
        <p> 双向绑定 </p>
        <form action="#" id="vm1">
            <p><input type="text" name="email" v-model="email"></p>
            <p><input type="text" name="name" v-model="name"></p>
            <label><input type="checkbox" v-model="language" value="zh"> Chinese</label>
            <label><input type="checkbox" v-model="language" value="en"> English</label>
            <label><input type="checkbox" v-model="language" value="fr"> French</label>
        </form>
        <p><code>select</code> 绑定的是字符串，但是要注意，绑定的是value而非用户看到的文本</p>
        <select v-model="city">
            <option value="bj">Beijing</option>
            <option value="sh">Shanghai</option>
            <option value="gz">Guangzhou</option>
        </select>
    </p>
    <p>
        <p> 处理事件</p>
        <p>
            <form id="vm2">
                <p><input type="text" v-model="email"></p>
                <p><input type="text" v-model="name"></p>
               
                <!-- <button  @click="onSubmitd()" >提交代码</button> -->
                <!-- 会重载界面 -->
                <button  v-on:="onClick" >提交代码1</button>
                <!-- 禁止表单的onSubmit()，改为register -->
                <!-- 提交事件不再重载页面 -->
                <input type="submit" v-on:click.prevent.stop="register" value="提交表格">
            </form>
        </p>
        <div id="app">
            <button v-on:click="clickOn">Say hi</button>
            <button v-on:click="say('what')">Say what</button>
            <ol>
               <li v-for = "t in todos">
                <dl>
                    <dt>{{ t.name }}</dt>
                    <dd>{{ t.description }}</dd>
                </dl>
               </li> 
            </ol>

        </div>
    </p>


    <script>
        var vm = new Vue({
            el: '#vm',
            data: {
                name: "Roto",
                age: 15
            }
        })

        var vm1 = new Vue({
            el: '#vm1',
            data: {
                email: '',
                name: '',
                //language:true,
                language: ['zh', 'en'],
                //language:1
                city: 'bj'
            }
        })
        var vm2 = new Vue({
            el: '#vm2',
            data: {
                email: '',
                name: '',
            },
            methods: {
                onSubmitd : function(event){
                     console.log('+++');
                     
                },
                register: function(event){
                    console.log("提交表单");
                    
                },
                onClick:function(){
                    console.log('sasas');
                    
                }
            }
        })
      var ve2= new Vue({
            el: '#app',
            data: {
                todos:[
                    {
                        name:'11',
                        description:"sasasa",

                    }
                ]
            },
            created:function(){
                console.log("init加载中");
                
                this.init();
            },
            methods: {
                say: function (message) {
                    alert(message)
                },
                clickOn: function(){
                    console.log("+++ 你点击了",this.$data.todos[0].name);
                },
                init :function(){
                       var that =  this;
                       that.$resource('/api/todos').get().then(function (resp){
                        resp.json().then(function (result) {
                        // 更新VM的todos:
                        that.todos = result.data;
                        
                });
                       })
                }
            }
        })

    </script>
</body>

</html>