<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/vue.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <title> 表格 </title>
</head>



<body>
    <div class="table-responsive">
        <table id="sheet" class="table table-bordered ">
            <thead>
                <tr>
                    <th v-for="cell in header" v-text="cell.text" v-bind:style="{textAlign:cell.align}"></th>
                </tr>
            </thead>
            <tbody>

                <tr v-for="tr in rows">
                    <td v-bind:contentEditable="cell.contentEditable" v-for="cell in tr" v-on:click="focus(cell)"
                        v-on:blur="change" v-text="cell.text" v-bind:style="{textAlign:cell.align}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="btn-ground text-center">
        <button id="cmd-left" class="btn btn-primary">左对齐</button>
        <button id="cmd-center" class="btn btn-primary">居中对齐</button>
        <button id="cmd-right" class="btn btn-primary">右对齐</button>

    </div>

    <script type="text/javascript">
        var vm = new Vue({
            el: "#sheet",
            data: {
                title: 'New Sheet',
                header: [
                    { row: 0, col: 0, text: '', contentEditable: false, align: 'center' },
                    { row: 0, col: 1, text: 'A', contentEditable: false, align: 'center' },
                    { row: 0, col: 2, text: 'B', contentEditable: false, align: 'center' },
                    { row: 0, col: 3, text: 'C', contentEditable: false, align: 'center' },
                    { row: 0, col: 4, text: 'D', contentEditable: false, align: 'center' },
                    { row: 0, col: 5, text: 'E', contentEditable: false, align: 'center' },
                    { row: 0, col: 6, text: 'F', contentEditable: false, align: 'center' },
                    { row: 0, col: 7, text: 'J', contentEditable: false, align: 'center' },

                ],
                rows: [
                    [{ row: 1, col: 0, text: '1', contentEditable: false, align: 'center' },
                    { row: 1, col: 1, text: '', contentEditable: true, align: 'left' },
                    { row: 1, col: 2, text: '', contentEditable: true, align: 'left' },
                    { row: 1, col: 3, text: '', contentEditable: true, align: 'left' },
                    { row: 1, col: 4, text: '', contentEditable: true, align: 'left' },
                    { row: 1, col: 5, text: '', contentEditable: true, align: 'left' },
                    { row: 1, col: 6, text: '', contentEditable: true, align: 'left' },
                    { row: 1, col: 7, text: '', contentEditable: true, align: 'left' }],

                    [{ row: 2, col: 0, text: '2', contentEditable: false, align:'center' },
                    { row: 2, col: 1, text: '', contentEditable: true, align: 'left' },
                    { row: 2, col: 2, text: '', contentEditable: true, align: 'left' },
                    { row: 2, col: 3, text: '', contentEditable: true, align: 'left' },
                    { row: 2, col: 4, text: '', contentEditable: true, align: 'left' },
                    { row: 2, col: 5, text: '', contentEditable: true, align: 'left' },
                    { row: 2, col: 6, text: '', contentEditable: true, align: 'left' },
                    { row: 2, col: 7, text: '', contentEditable: true, align: 'left' }],

                    [{ row: 3, col: 0, text: '3', contentEditable: false, align: 'center' },
                    { row: 3, col: 1, text: '', contentEditable: true, align: 'left' },
                    { row: 3, col: 2, text: '', contentEditable: true, align: 'left' },
                    { row: 3, col: 3, text: '', contentEditable: true, align: 'left' },
                    { row: 3, col: 4, text: '', contentEditable: true, align: 'left' },
                    { row: 3, col: 5, text: '', contentEditable: true, align: 'left' },
                    { row: 3, col: 6, text: '', contentEditable: true, align: 'left' },
                    { row: 3, col: 7, text: '', contentEditable: true, align: 'left' }]
                ],
                selectedRowIndex: 0,
                selectedColIndex: 0,

            },
            created: function () {
                // this.init()
            },
            methods: {
                init: function () {

                },
                focus: function (cell) {
                    this.selectedColIndex = cell.col;
                    this.selectedRowIndex = cell.row;
                },
                change: function (e) {
                    var rowIndex = this.selectedRowIndex;
                    var colIndex = this.selectedColIndex
                    var text;
                    if (rowIndex > 0 && colIndex > 0) {
                        text = e.target.innerText;
                        this.rows[rowIndex - 1][colIndex].text = text
                    }
                },
            }
        });
        function setAlign(align) {
            var
                rowIndex = vm.selectedRowIndex,
                colIndex = vm.selectedColIndex,
                row, cell;
            if (rowIndex > 0 && colIndex > 0) {
                row = vm.rows[rowIndex - 1];
                cell = row[colIndex];
                cell.align = align;
            }
        }
        $('#cmd-left').click(function () {

            setAlign('left');
        });
        $('#cmd-center').click(function () { setAlign('center'); });
        $('#cmd-right').click(function () { setAlign('right'); });	
    </script>
</body>

</html>